
.small-box p{
	font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
.content-header h1 {
    margin: 0;
    font-size: 24px;
    padding-left: 5px;
}
.box{
  background: transparent;
  border: 0;
  box-shadow: none;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 0;
}
.box:hover{
   background: rgba(199, 194, 194, 0.35);
   cursor: pointer;

}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-right: 0;
	padding-left: 0;
}

.img-responsive{
    border-radius-top: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    width: 100%;
}

.img-responsive:hover{
    opacity: 0.9;
}

@media  (max-width: 421px){
	.content-header h1 {font-size: 18px;}
	.information textarea{font-size: 14px;}
	.information p{font-size: 18px;}
}
@media  (max-width: 361px){
	.content-header h1 {font-size: 14px;}
	.information textarea{font-size: 12px;}
	.information p{font-size: 14px;}
}

.info-box-text{
	font-size: 16px;
}

h2.info-box-text{
	margin-top: 2%;
	font-size: 20px;
}

.material{
	background: transparent;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	border-radius: 2px;
}
.material-footer{
	padding: 8px;
	background: #eff2f7;
}
.material-information{
	padding-left: 10px;
	padding-top: 5px;
	font-size: 16px;
	margin-right: 10px;
}


.close{
	color: #fefefe;
	position: absolute;
	right: 1%;
	opacity: 1;
	z-index: 999;
	text-shadow: 0 0 0;
	line-height: 0.9;
	font-size: 50px;
	margin-right: 5px;

}

.close:hover{
	color: #FFC107;
	opacity: 1;
	filter: saturate(50);
}

.modal-content{
	padding-bottom: 5px;
}

.btn{
	padding: 8px;
}

.btn-block{
	margin: auto;
	opacity: 0.7;
	width: 20%;
}

hr{
	border-top: 2px dashed rgba(125, 115, 115, 0.3);
	text-align: center;
	margin-bottom: 5px;
}

.content{
	padding-left: 25px;
	padding-right: 25px;
}

.fa-ellipsis{
	font-size: 20px;
	position: relative;
	text-align: right;
}