body::before {
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../img/share.jpg');
    opacity: 0.87;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

body .demo-blog {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.demo-blog .demo-blog__posts {
    max-width: 900px;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
}

.demo-blog.mdl-layout .mdl-layout__content {
    padding-top: 130px;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.demo-blog .mdl-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 360px;
}
.demo-blog .mdl-card__title {
    padding: 16px;
    flex-grow: 1;
}
.demo-blog .mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    padding: 24px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
}
.demo-blog .mdl-card__media a,
.demo-blog .mdl-card__title a {
    color: inherit;
}
.demo-blog .mdl-card__supporting-text {
    width: 100%;
    padding: 16px;
    min-height: 64px;
    display: flex;
    align-items: center;
}
.demo-blog .mdl-card__supporting-text strong {
    font-weight: 400;
}
.demo-blog .mdl-card__media ~ .mdl-card__supporting-text {
    min-height: 64px;
}
.demo-blog .mdl-card__supporting-text:not(:last-child) {
    box-sizing: border-box;
    min-height: 76px;
}
.demo-blog:not(.demo-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.demo-blog .mdl-card__actions:first-child {
    margin-left: 0;
}
.demo-blog .meta {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}
.demo-blog .meta > .meta__favorites{
    flex-direction: row;
    margin: 0 8px;
    font-size: 13px;
    font-weight: 500;
}
.demo-blog .meta > .meta__favorites .material-icons {
    font-size: 2em;
    cursor: pointer;
    margin-left: 12px;
}
.demo-blog .mdl-card .meta.meta--fill {
    justify-content: space-between;
}
.demo-blog .meta > *:first-child {
    margin-right: 16px;
}
.demo-blog .meta > * {
    display: flex;
    flex-direction: column;
}
.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.coffee-pic {
    order: 0;
}
.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.something-else {
    order: -1;
}

.demo-blog .something-else .mdl-card__media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.demo-blog .something-else > button {
    position: absolute;
    top: 0;
    right: 28px;
    transform: translate(0px, -28px);
}
.demo-blog .something-else .mdl-card__media {
    font-size: 13px;
    font-weight: 500;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.demo-blog .something-else .mdl-card__media img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}
.demo-blog .something-else .mdl-card__supporting-text {
    background-color: #F5F5F5;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.demo-blog .shopping .mdl-card__media {
}
.demo-blog .demo-blog__posts > .demo-nav {
    margin: 12px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;
}
.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button {
    color: white;
    text-decoration: none;
}
.demo-blog .demo-blog__posts > .demo-nav .mdl-button {
    color: rgba(0,0,0,0.54);
    background-color: white;
}
.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button:first-child .mdl-button {
    margin-right: 16px;
}
.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button:last-child .mdl-button {
    margin-left: 16px;
}
.demo-blog .mdl-card > a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}
.demo-blog .mdl-card h3 {
    margin: 0;
}
.demo-blog .mdl-card h3 a {
    text-decoration: none;
}
.demo-blog .mdl-card h3.quote:before, .demo-blog .mdl-card h3.quote:after {
    display: block;
    font-size: 3em;
    margin-top: 0.5em;
}
.demo-blog .mdl-card h3.quote:before {
    content: '“';
}
.demo-blog .mdl-card h3.quote:after {
    content: '”';
}

/* Fixes for IE 10 */
.mdl-grid {
    display: flex !important;
}

.social-btn {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.46;
    border-radius: 2px;
}
.social-btn__share {
    color: rgba(0, 0, 0, 0.54);
    background: transparent;
}

.demo-blog .mdl-mini-footer {
    margin-top: 80px;
    height: 120px;
    padding: 40px;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}

.min-size {
    min-height: 199px;
}

.logo-kmitl{
    width: 50%; 
    height: 50%;
    margin-bottom: 1%;
}
@media  (max-width: 770px){
    .logo-kmitl{
    width: 35%; 
    height: 35%;
}
}

@media  (max-width: 421px){
    .logo-kmitl{
    width: 30%; 
    height: 30%;
}
}

@media  (max-width: 351px){
    .logo-kmitl{
    width: 25%; 
    height: 25%;
}
}